<div>
	<form action="/messages" method="post">
		<input type="hidden" name="authenticity_token" value = "<%= form_authenticity_token %>" >
			<h1 class="subject"><div class="col-md-5">What would you do if you: </div>
			<div class="col-md-4"><input class="dream-input form-control input-lg" type="text" name="content" size="20" placeholder="Enter your dream here"></div>
			<div class="col-md-1">?</div>
			<div class="col-md-2"><input type="submit" value="Post" class="btn btn-success btn-lg dream-post"></div></h1>
	</form>
</div>
<div class="col-md-9 col-md-offset-1">




	<div class="panel panel-primary">
	  <div class="panel-heading clearfix">
	    <h1 class="panel-title">Recent Questions:
		    <div class="btn-group pull-right">
		  		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Sort by <span class="caret"></span>
		  		</button>
		  		<ul class="dropdown-menu">
		  			<li><a href="#" id="dropdown-recents">Recent</a></li>
		  			<li><a href="#" id="dropdown-oldest">Oldest</a></li>
				    <li><a href="#" id="dropdown-likesDESC">Most Likes</a></li>
				    <li><a href="#" id="dropdown-likesASC">Least Likes</a></li>
		  		</ul>
		  		<!-- <form data-remote = "true" action = "/messages/sort" method = "post">
		  			<select>
		  				<option>Recent</option>
		  				<option>Recent</option>
		  				<option>Recent</option>
		  			</select>
		  			<input type = "submit" value = "click me">
		  		</form> -->
			</div>
	    </h1>
	  </div>


	  <div class="panel-body">
	  		<% @posts.each_with_index do |post, index| %>
			<h3><a href="/messages/<%= post.id %>">What would you do if you <%= post.content %>?</a></h3>
			<p><%= post.likes.count %> likes / <%= @comment_count_array[index] %> comments / <%= post.created_at.strftime("%b %d, %Y %H:%M %p") %></p>	
		<% end %>
	  </div>
	</div>

</div>