<div>
	<h2>Post Area</h2>
	<h4><%= @post.likes.count %> Likes</h4>
	<% if @post.users_liked.include? (current_user) %>
		<form action='/likes/<%= @post.id %>' method='post'>
	      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
	      <input type='hidden' name='post_id' value='<%= @post.id %>' >
	      <input type='hidden' name='_method' value='delete'>
	      <input type='submit' value='Unlike'>
	    </form>
	<% else %>
		<form action='/likes/<%= @post.id %>' method='post'>
		  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
		  <input type='hidden' name='post_id' value='<%= @post.id %>' >
		  <input type='submit' value='Like'>
		</form>
	<% end %>
	<h3>
		<% unless @post.user.nickname ==""%>
			<p><%= @post.user.nickname %> asks:</p>
		<% else %>
			<p>Anonymous asks:</p>
		<% end %>
	</h3>
	<p><%= @post.content %> | Posted on: <%= @post.created_at %></p>
	<form action="/messages/<%= @post.id %>" method="post">
		<input type="hidden" name="authenticity_token" value = "<%= form_authenticity_token %>" >
		<input type="hidden" name="post_id" value="<%= @post.id %>" >
		<input type="text" name="content" value="<%= @post.user.nickname %>, " >
		<input type="submit" value="Reply" >
	</form>
</div>
<hr>
<div>
	<h2>Comment Area</h2>
		<p><%@array_of_comments.each do |comment| %>

			<h4><%= comment.likes.count %> Likes</h4>
				<% if comment.users_liked.include? (current_user) %>
					<form action='/likes/<%= comment.id %>' method='post'>
				      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
				      <input type='hidden' name='post_id' value='<%= @post.id %>' >
				      <input type='hidden' name='_method' value='delete'>
				      <input type='submit' value='Unlike'>
				    </form>
				<% else %>
					<form action='/likes/<%= comment.id %>' method='post'>
					  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
					  <input type='hidden' name='post_id' value='<%= @post.id %>' >
					  <input type='submit' value='Like'>
					</form>
				<% end %>


			<h3>
				<% unless comment.user.nickname == ""%>
					<p><%= comment.user.nickname %> says:</p>
				<% else %>
					<p>Anonymous says:</p>
				<% end %>
			</h3>
			<p><%= comment.content %> | Posted on: <%= comment.created_at %></p>
			<form action="/messages/<%= comment.id %>" method="post">
				<input type="hidden" name="authenticity_token" value = "<%= form_authenticity_token %>" >
				<input type="hidden" name="post_id" value="<%= @post.id %>" >
				<% unless comment.user.nickname == ""%>
				<input type="text" name="content" value="<%= comment.user.nickname %>, " >
				<% else %>
				<input type="text" name="content" value="Anonymous, " >
				
				<% end %>
				<input type="submit" value="Reply" >
			</form>
		<% end %> 
</div>