<!DOCTYPE html>
<html>
<head>
  <title>DreamsBakery</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="background"></div>
<div class="container ">
<div class="page-header">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container vertical-align">
		<% if current_user %>
			<a class="navbar-brand welcome-user" href="/users/<%=current_user.id%>">Hi, <%= current_user.first_name %></a>
			<form action="/sessions" method="post"> 
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
				<input type='hidden' name='_method' value='delete'>
				<input type="submit" value="Log Out" class="btn btn-primary pull-right dashboard-button">
			</form>
			<% if params[:id] || params[:message_id] %>
				<a href="/"><button type="button" class="btn btn-primary pull-right dashboard-button">Dashboard </button></a>
			<% end %>
		<% end %>
		</div>
	</nav>
</div>

<% if flash[:alert] %>
	<% flash[:alert].each do |error| %>
		<p>* <%= error %></p>
	<% end %>
<% end %>
<% if flash[:notice] %>
	<p><%= flash[:notice] %></p>
<% end %>
<div class="container center-container">
<%= yield %>
</div>
</div>
</body>
</html>
