<!DOCTYPE html>
<html>
<head>
  <title>DreamsBakery</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
<h1 title="Click to see your page"><a href="/users/<%=current_user.id%>">Hi, <%= current_user.first_name %></a></h1>
<% if params[:id] || params[:message_id] %>
	<a href="/"><button type="button">Dashboard </button></a>
<% end %>
<form action="/sessions" method="post"> 
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
	<input type='hidden' name='_method' value='delete'>
	<input type="submit" value="Log Out">
</form>
<% end %>
<% if flash[:alert] %>
	<% flash[:alert].each do |error| %>
		<p>* <%= error %></p>
	<% end %>
<% end %>
<% if flash[:notice] %>
	<p><%= flash[:notice] %></p>
<% end %>
<%= yield %>

</body>
</html>
